<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
<h3>Ваш отжиг готов!!</h3>
<hr>
<blockquote class="blockquote text-center">
  <p class="mb-0"><%= params[:text] %></p>
  <footer class="blockquote-footer"><%= @bot_name %></footer>
</blockquote>
<hr>
<audio src="<%= convert_voice_path(audio_format: params[:audio_format],
                                   text: params[:text], voice: params[:voice] ) %>"
       controls></audio>
<p>
  <%= link_to 'Скачать', convert_voice_path(audio_format: params[:audio_format],
                                            text: params[:text], voice: params[:voice]),
              class: 'btn btn-default' %>
</p>

<script type="text/javascript"><!--
document.write(VK.Share.button(false,{type: "round", text: "Поделиться"}));
--></script>
